{% extends "base.html" %}

{% block title %}List of mBank Clients{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "bank:clients-list" %}">Clients</a></li>
{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
    <div class="row">
    <h1>List of mBank Clients</h1>

    <ul>
        {% for client in object_list %}
            <li>
                <a href="{% url 'bank:clients-detail' client.id %}">{{ client.name }}</a>
            </li>
        {% endfor %}

    </ul>
    </div>
    </div>
{% endblock %}