{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}dBank{% endblock %}
        </title>

        {% load static %}
        {% bootstrap_css %}
        {% block stylesheets %}
{#            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">#}
{#            <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">#}
        {% endblock %}
    </head>
    <body>
        {# Navigation Bar #}
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "homepage" %}">
                        {% block brand %}mBank{% endblock %}
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% block navbar %}
                            {% if user.is_authenticated %}
                            <li><a href="{% url "accounts:accounts_list" %}">My Accounts</a></li>
                            <li><a href="{% url "transactions:transactions_list" %}">My Transactions</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% block navbar_right %}
                            {% if user.is_authenticated %}
                                {% url "admin:index" as admin_url %}
                                {% if user.is_staff and admin_url %}
                                    <li>
                                        <a href="{{ admin_url }}">
                                            <span class="glyphicon glyphicon-dashboard"></span>
                                            Administration
                                        </a>
                                    </li>
                                {% endif %}
                                {% url "logout" as logout_url %}
                                {% if logout_url %}
                                    <li>
                                        <a href="{{ logout_url }}">
                                            <span class="glyphicon glyphicon-log-out"></span>
                                            Logout
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% url "login" as login_url %}
                                {% if login_url %}
                                    <li>
                                        <a href="{{ login_url }}">
                                            <span class="glyphicon glyphicon-log-in"></span>
                                            Login
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>

        {# Page Contents #}
        <div class="container">
            {% block breadcrumbs_container %}
                <ol class="breadcrumb">
                    <li>
{#                        <a href="{% url "homepage" %}">Home</a>#}
                        <a href="{% url "dashboard" %}">{{ user.get_full_name|title }}</a>
                    </li>
                    {% block breadcrumbs %}{% endblock %}
                </ol>
            {% endblock %}
            {% for message in messages %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}
                <h2>{{ title }}</h2>
                <hr>
            {% endblock %}
        </div>

        {# Footer #}
        <br><hr>
        <div class="container">
            {% block footer %}
                <p class="pull-right">
                    Powered by <a href="https://github.com/nathan-osman/django-bootstrap3-templates">django-bootstrap3-templates</a>
                </p>
                <p>
                    Copyright &copy; {% now "Y" %}
                </p>
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        {% endblock %}

        {% bootstrap_javascript %}
    </body>
</html>