{% extends "base.html" %}

{% block title %}List of dBank Accounts{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "accounts_list" %}">Accounts</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <h1>List of mBank Accounts</h1>

        <table class="table table-striped">
        <thead>
            <tr>
                <th>IBAN</th>
                <th>balance</th>
                <th>owner</th>
                <th>transactions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in object_list %}
                <tr>
                    <td>{{ account.iban }}</td>
                    <td>{{ account.balance }}</td>
                    <td>{{ account.owner.get_full_name|title }}</td>
                    <td>
                        <a href="{% url 'account_transactions' account.id %}">
                            {{ account.transactions.count }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        </table>
        </div>

        <div class="row text-right">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" href="{% url "accounts_create" %}" role="button">New Account</a>
            </div>
        </div>
    </div>
{% endblock %}