{% extends "base.html" %}

{% block title %}Client {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "clients_detail" object.id %}">{{ object.get_full_name }}</a></li>
{% endblock %}

{% block content %}
    <h1>Client {{ object.name }}</h1>

    <h2>Accounts</h2>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>IBAN</th>
            <th>balance</th>
            <th>transactions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in object.account_set.all %}
            <tr>
                <td>{{ account.iban }}</td>
                <td>{{ account.balance }}</td>
                <td>
                    <a href="{% url 'account_transactions' account.id %}">
                        {{ account.transactions.count }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}